input, a {
  -webkit-app-region: no-drag;
}

h3 {
  margin: 0;
}

:host {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#buttons {
  display: flex;
  justify-content: flex-end;
}

#acceptButton {
  color: #2196f3;
}
